html {
	margin: 24px;
	font-family: "Computer Modern Serif", serif;
}

.name {
	text-transform: uppercase;
	flex: 1 0 auto;
	margin: 0;
}

.hero {
	display: flex;
	justify-content: space-between;
	padding-bottom: 8px;
}

h2 {
	text-transform: uppercase;
	margin: 0;
}

.section {
	padding-left: 12px;
	margin-bottom: 12px;
}

.address {
	text-align: center;
}

.contact {
	margin: 0 12px;
	text-align: center;
}

.details {
	display: flex;
	justify-content: space-between;
}

ul {
	margin: 2px 0 8px 0;
	list-style-type: circle;
}

td:first-child {
	padding-right: 12px;
	font-weight: bold;
}

hr {
	margin: 2px 0 4px 0;
}
