html {
	/*font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;*/
	margin: 24px;
}

.name {
	text-transform: uppercase;
	flex: 1 0 auto;
	margin: 0;
}

.hero {
	display: flex;
	justify-content: space-between;
	padding-bottom: 12px;
}

h2 {
	text-transform: uppercase;
	margin: 0;
}

.section {
	padding: 0 12px 12px 12px;
}

.address {
	text-align: center;
}

.contact {
	margin: 0 12px;
	text-align: center;
}

.details {
	display: flex;
	justify-content: space-between;
}

h3 {
	margin: 0;
}

ul {
	margin-top: 0;
}

td {
	padding-right: 12px;
}
