html {
	height: 100%;
}

body {
	margin: 0;
	height: 100%;
}

.content {
	height: 100%;
	display: flex;
	justify-content: center;
	align-items: center;
	flex-direction: column;
	color: #222;
	background-color: lightgray;
}

#canvas {
	position: absolute;
}

#header-image {
	height: 70%;
	object-fit: cover;
    width: 100%;
}

.snowflake {
	display: none;
}